<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="src/public/css/normalize.css" />
        <link rel="stylesheet" href="src/public/css/style.css" />
        <title>Document</title>
    </head>

    <body>
        <div id="app">
            <header>
                <div class="logo">E-shop</div>
                <div class="cart">
                    <form action="#" class="search-form">
                        <input type="text" class="search-field" v-model="fromInputSearch"/>
                        <button class="btn-search" @click="findItem(fromInputSearch)">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <button class="btn-cart" @click="showCart">Cart</button>
                    <div class="cart-block" v-show="cart.show">
                        <div class="d-flex">
                            <strong class="d-block">Всего товаров</strong>
                            <div id="quantity">{{ cart.items.countGoods }}</div>
                        </div>
                        <hr />
                        <div class="cart-items">
                            <div class="cart-item" data-id="${this.item.id_product}" v-for="item of cart.items.contents" :key="item.id_product">
                                <img src="https://placeimg.com/100/80/nature" alt="photo" />
                                <div class="product-desc">
                                    <p class="product-title">
                                        {{ item.product_name }}
                                    </p>
                                    <p class="product-quantity">
                                        {{ item.quantity }}
                                    </p>
                                    <p class="product-single-price">
                                        {{ item.price }}
                                    </p>
                                </div>
                                <div class="right-block">
                                    <button name="del-btn" class="del-btn" data-id="${this.item.id_product}" data-name="${this.item.product_name}">
                                        &times;
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="d-flex">
                            <strong class="d-block">Общая ст-ть:</strong>
                            <div id="price">{{ cart.items.amount }}</div>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="products">
                    <div class="product-item" v-for="item of displayItems">
                        <img src="https://placeimg.com/300/200/nature" alt="${this.item.product_name}"/>
                        <!--img src="${this.img}" width="300" height="200" alt="${this.item.product_name}"-->
                        <div class="desc">
                            <h1>{{ item.product_name }}</h1>
                            <p>{{ item.price }}</p>
                            <button class="buy-btn" name="buy-btn" data-name="${this.item.product_name}" data-price="${this.item.price}" data-id="${this.item.id_product}">
                                Купить
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <script
            defer
            src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
            integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="src/public/js/app.js"></script>
    </body>
</html>
