* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 510px;
  margin: auto;
}

h2 {
  flex: 1 0 500px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

label {
  position: relative;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 25px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all .2s;
}

label:hover {
  border-color: darkgoldenrod
}

label:active {
  border-color: darkgoldenrod;
}

label > .info {
  display: block;
  position: absolute;
  line-height: 25px;
  font-size: 13px;
  text-align: left;
  padding-left: 17px;
  height: 25px;
}

label > .price {
  bottom: 0;
  left: 47%;
  background: transparent url('../img/price.png') no-repeat 0 40% / 18px;
}

label > .energy {
  bottom: 0;
  left: 35%;
  background: transparent url('../img/energy.png') no-repeat 0 center / 20px;
}

#filling label > .price {
  left: 50%;
}

#filling label > .energy {
  left: 30%;
}

label.size,
label.toppings {
  flex-basis: 250px;
  background: transparent no-repeat center center / 40%;
}

label.filling {
  flex-basis: 33.333%;
  background: transparent no-repeat center center / 55%;
}

label#big {
  background-image: url('../img/big.png');
}

label#small {
  background-image: url('../img/small.png');
}

label#cheese {
  background-image: url('../img/cheese.png')
}

label#salad {
  background-image: url('../img/salad.png')
}

label#potatoes {
  background-image: url('../img/potato.png')
}

label#flavoring {
  background-image: url('../img/flavouring.png')
}

label#mayonnaise {
  background-image: url('../img/mayonaise.png')
}

input:not([type='submit']) {
  display: none;
}

.choice {
  color: darkgoldenrod;
}

.sum {
  width: 500px;
  margin: 40px auto 10px auto;
  border-top: 2px solid darkgoldenrod;
}

.description {
  border-bottom: 1px solid black;
}

.sum p {
  margin: 5px 0;
}

.sum > p {
  font-size: 20px;
}

input[type='submit'] {
  display:block;
  width: 510px;
  margin: 0 auto;
  height: 80px;
  background: transparent url('../img/confirm.png') no-repeat center center / 60px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
}

input[type='submit']:hover {
  background-color: darkgoldenrod;
}

input[type='submit']:active {
  background-color: white;
}

.checked {
  border-bottom: 3px solid darkgoldenrod;
}