<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div class="logo">E-shop</div>
        <div class="cart">
            <form action="#" class="search-form">
                <input type="text" class="search-field" v-model="search">
                <button class="btn-search" @click="searchLine">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" v-on:click="isVisibleCart=!isVisibleCart">Cart</button>
            <div class="cart-block" v-show="isVisibleCart">
                <div v-if="countGoods">
                    <div class="d-flex">
                        <strong class="d-block">Всего товаров</strong>{{countGoods}}<div id="quantity"></div>
                    </div>
                    <hr>
                    <div class="cart-item" v-for="item in items" :key="item.id_product">
                        <img src="https://placehold.it/100x80" alt="">
                        <div class="product-desc">
                            <p class="product-title">{{item.product_name}}</p>
                            <p class="product-quantity">{{item.quantity}}</p>
                            <p class="product-single-price">{{item.price}}</p>
                        </div>
                        <div class="right-block">
                            <button name="del-btn" class="del-btn" @click=removeProduct(item)>&times;</button>
                        </div>
                    </div>

                    <hr>
                    <div class="d-flex">
                        <strong class="d-block">Общая стоимость:</strong>{{amount}}<div id="price"></div>
                    </div>
                </div>
                <p v-else>Нет данных</p>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="products">
            <div class="product-item" v-for="item in filteredList">
                <img src="https://placehold.it/300x200" :alt="item.product_name">
                <div class="desc">
                    <h1>{{item.product_name}}</h1>
                    <p>{{item.price}}</p>
                    <button class="buy-btn" name="buy-btn" @click=addProduct(item)>Купить</button>
                </div>
            </div>
        </div>
    </main>
    
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>