.center {
    width: 680px;
    display: block;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#form-error {
    border: 2px solid red;
}

.message-form {
    width: 600px;
    border: 1px solid darkgrey;
    display: block;
    height: 230px;
    padding: 30px 40px 40px 40px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


#form-title {
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    color: darkgrey;
    text-transform: uppercase; 
}

#form-description {
     font-size: 14px;
    
    font-family: sans-serif;
    font-weight: 100;
    color: darkgrey;
    margin-left: 50px;
    margin-top: 0;
}
#user-text {
    width: 100%;
    margin: 10px 0;
    height: 60px;
    resize: none;
    text-indent: 20px;
    padding: 12px 0;
    font-size: 16px;
}

#user-name,
#user-email,
#user-phone {
    width: 288px;
    padding: 10px 0;
    text-indent: 15px;
    margin-bottom: 12px;
}

#user-submit {
    width: 289px;
    padding: 10px 0;
    text-indent: 15px;
}
