body {
    background-color: brown;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: cornsilk;
    font-size: 30px;
}

form {
    background-color: cornsilk;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    width: 30%;
}

label {
    display: block;
    margin-bottom: 10px;
}

#okBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

#result {
    display: block;
    width: 100%;
    height: 0.1px;
    align-items: center;
    font-size: 20px;
    color: cornsilk;
}
